a {
    display: block;
}

.inline {
    display: inline-block;
}

img {
    width: 335px;
    height: 465px;
}

.hidden {
    visibility: hidden;
    display: none;
}

body { overflow-y: auto; }

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}
